@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #30253f;
  --darker: #1a1423;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body,
html {
  overflow: hidden;
}

* {
  font-family: "Alata", sans-serif;
}

.dropdown-black::after {
  font-size: 28px;
  content: "🢓";
  color: black;
  margin-left: 2px;
  margin-top: 2px;
  position: absolute;
}

.dropdown-white::after {
  font-size: 28px;
  content: "🢓";
  color: white;
  margin-left: 2px;
  margin-top: 2px;
  position: absolute;
}

.index-header {
  background-position: 0px -600px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* make scrollbar internal not outside page */
.layout-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
